@charset "UTF-8";
body {
  font-family: "ヒラギノ明朝 ProN", "Times New Roman";
  font-size: 16px;
  background-image: url("../img/background-img-01.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.05em;
    line-height: 1.75;
  }
}

p {
  line-height: 2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

img {
  width: 100%;
  height: auto;
}

.titleBox {
  text-align: center;
  font-size: 30px;
  color: #e8eaed;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 200px;
  background-color: rgba(32, 33, 36, 0.9);
}

@media screen and (max-width: 767px) {
  .header {
    height: 80px;
  }
}

.headerTop {
  width: 100%;
  height: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .headerTop {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

.headerTop .headerTopCenter {
  width: 200px;
  display: inline-block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .headerTop .headerTopCenter {
    width: 150px;
  }
}

@media screen and (max-width: 767px) {
  .headerTop .headerTopCenter {
    width: 100px;
    width: 33.3%;
  }
}

.headerTop .headerTopBtn {
  width: 33.3%;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .headerTop .headerTopBtn {
    text-align-last: left;
  }
}

.headerTop .headerTopBtn .bookBtn {
  display: inline-block;
  padding: 0.3em 1em;
  font-weight: bold;
  color: #e8eaed;
  border: solid 2px #F3A70D;
  -webkit-transition: 1s;
  transition: 1s;
  padding: 6px 12px;
}

@media screen and (max-width: 767px) {
  .headerTop .headerTopBtn .bookBtn {
    font-weight: normal;
  }
}

.headerTop .headerTopBtn .bookBtn:hover {
  background-color: rgba(232, 234, 237, 0.1);
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .headerTop .headerTopBtn .bookBtn:hover {
    font-weight: normal;
  }
}

.headerTop .dummyBox {
  display: inline-block;
  width: 33.3%;
}

@media screen and (min-width: 1080px) {
  .headerTopMenu {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .headerTopMenu {
    display: none;
  }
}

.headerTopMenu .menu {
  position: absolute;
  top: 28px;
  right: 5%;
  width: 30px;
  height: 24px;
  z-index: 99;
}

.headerTopMenu .menu .menu__line {
  background: #e8eaed;
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  width: 100%;
}

.headerTopMenu .menu .menu__line--center {
  top: 11px;
}

.headerTopMenu .menu .menu__line--bottom {
  bottom: 0;
}

.headerTopMenu .menu .menu__line--top.active {
  top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.headerTopMenu .menu .menu__line--center.active {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.headerTopMenu .menu .menu__line--bottom.active {
  bottom: 12px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.headerTopMenu .gnav {
  background: #1C1D1F;
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 98;
}

.headerTopMenu .gnav__wrap {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 100%;
}

.headerTopMenu .gnav__menu__item {
  margin: 40px 0;
}

.headerTopMenu .gnav__menu__item a {
  color: #e8eaed;
  font-size: 2em;
  font-weight: bold;
  padding: 40px;
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.headerTopMenu .gnav__menu__item a:hover {
  color: #F3A70D;
}

.headerBottom {
  width: 100%;
  height: 30%;
}

@media screen and (max-width: 767px) {
  .headerBottom {
    display: none;
  }
}

.headerBottom .headerNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 6px;
}

.headerBottom .headerNav li {
  padding-bottom: 5px;
}

.headerBottom .headerNav li a {
  font-size: 20px;
  font-weight: bold;
  color: #e8eaed;
  padding: 6px;
  opacity: 0.7;
}

.headerBottom .headerNav li:hover {
  border-bottom: 1px solid #F3A70D;
  -webkit-transition: border-bottom 1s;
  transition: border-bottom 1s;
}

.headerBottom .headerNav li:hover a:hover {
  opacity: 1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#topImg {
  width: 700;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#202124), color-stop(20%, rgba(32, 33, 36, 0.7)), to(#202124));
  background: linear-gradient(to bottom, #202124, rgba(32, 33, 36, 0.7) 20%, #202124);
}

.aboutTitle {
  width: 200px;
  height: 36px;
  display: inline-block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #F3A70D;
}

.concept {
  width: 100%;
}

.conceptTitle {
  width: 160px;
  height: 40px;
  font-size: 30px;
  color: #F3A70D;
  display: inline-block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e8eaed;
}

.conceptCard {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.conceptCard .conceptCardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .conceptCard .conceptCardBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .conceptCard .conceptCardBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.conceptCard .conceptCardBox .conceptImgBox {
  position: relative;
  width: 60%;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .conceptCard .conceptCardBox .conceptImgBox {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .conceptCard .conceptCardBox .conceptImgBox {
    width: 100%;
  }
}

.conceptCard .conceptCardBox .conceptImgBox:after {
  position: absolute;
  border: 1px solid #e8eaed;
  opacity: 0.5;
  top: 20px;
  left: 20px;
  content: "";
  height: 100%;
  width: 100%;
}

.conceptCard .conceptCardBox .conceptTextBox {
  margin-left: 40px;
  width: 40%;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .conceptCard .conceptCardBox .conceptTextBox {
    width: 80%;
    margin: 80px auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .conceptCard .conceptCardBox .conceptTextBox {
    width: 100%;
    margin-top: 40px;
  }
}

.conceptCard .conceptCardBox .conceptTextBox #conceptSubTitle {
  font-size: 18px;
  color: #F3A70D;
  text-align: center;
}

.conceptCard .conceptCardBox .conceptTextBox #conceptText {
  color: #e8eaed;
  margin-top: 40px;
}

.owner {
  width: 100%;
  margin-top: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .owner {
    margin-top: 40px;
  }
}

.ownerTitle {
  width: 160px;
  height: 40px;
  font-size: 30px;
  color: #F3A70D;
  display: inline-block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e8eaed;
}

.ownerCard {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}

.ownerCard .ownerCardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .ownerCard .ownerCardBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse;
            flex-flow: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .ownerCard .ownerCardBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.ownerCard .ownerCardBox .ownerImgBox {
  position: relative;
  width: 60%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-left: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .ownerCard .ownerCardBox .ownerImgBox {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .ownerCard .ownerCardBox .ownerImgBox {
    width: 100%;
  }
}

.ownerCard .ownerCardBox .ownerImgBox:after {
  position: absolute;
  border: 1px solid #e8eaed;
  opacity: 0.5;
  top: -20px;
  left: -20px;
  content: "";
  height: 100%;
  width: 100%;
}

.ownerCard .ownerCardBox .ownerTextBox {
  width: 40%;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .ownerCard .ownerCardBox .ownerTextBox {
    width: 80%;
    margin: 40px auto 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .ownerCard .ownerCardBox .ownerTextBox {
    width: 100%;
    margin-top: 40px;
  }
}

.ownerCard .ownerCardBox .ownerTextBox #ownerSubTitle {
  font-size: 18px;
  color: #F3A70D;
  text-align: center;
}

.ownerCard .ownerCardBox .ownerTextBox #ownerText {
  color: #e8eaed;
  margin-top: 40px;
}

.shop {
  width: 100%;
  margin-top: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .shop {
    margin-top: 40px;
  }
}

.shopTitle {
  width: 160px;
  height: 40px;
  font-size: 30px;
  color: #F3A70D;
  display: inline-block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #e8eaed;
}

.shopCard {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.shopCard .shopCardBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.shopCard .shopCardBox .shopImgBox {
  position: relative;
  width: 60%;
  margin: auto;
  padding: 20px;
  border: 1px solid rgba(232, 234, 237, 0.5);
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .shopCard .shopCardBox .shopImgBox {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .shopCard .shopCardBox .shopImgBox {
    width: 100%;
  }
}

.shopCard .shopCardBox .shopTextBox {
  width: 40%;
  margin: 40px auto 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .shopCard .shopCardBox .shopTextBox {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .shopCard .shopCardBox .shopTextBox {
    width: 100%;
    margin-top: 40px;
  }
}

.shopCard .shopCardBox .shopTextBox #shopSubTitle {
  font-size: 18px;
  color: #F3A70D;
  text-align: center;
}

.shopCard .shopCardBox .shopTextBox #shopText {
  color: #e8eaed;
  margin-top: 40px;
}

.location {
  background: #202124;
  width: 100%;
  height: 600px;
}

.locationTitle {
  width: 200px;
  height: 36px;
  display: inline-block;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #F3A70D;
}

.locationInfoBox {
  width: 100%;
  height: 240px;
  margin-top: 40px;
  position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .locationInfoBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .locationInfoBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    position: static;
  }
}

.locationInfo {
  width: 60%;
  height: 100%;
  border: 1px solid rgba(232, 234, 237, 0.5);
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .locationInfo {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .locationInfo {
    width: 100%;
  }
}

.locationInfoLeft {
  color: #e8eaed;
  width: 50%;
  height: 100%;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .locationInfoLeft {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .locationInfoLeft {
    width: 100%;
  }
}

.locationInfoLeft .locationInfoLeftText {
  padding: 10px;
}

.locationInfoLeft .locationInfoLeftText p {
  line-height: 2.4;
}

.locationMapBox {
  width: 50%;
  position: absolute;
  top: 20%;
  left: 50%;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .locationMapBox {
    width: 100%;
    position: static;
    margin-top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .locationMapBox {
    width: 100%;
    position: static;
    margin-top: 20px;
  }
}

.locationMapBox .locationMap {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.locationMapBox .locationMap:hover {
  -webkit-transition: -webkit-filter 1s ease;
  transition: -webkit-filter 1s ease;
  transition: filter 1s ease;
  transition: filter 1s ease, -webkit-filter 1s ease;
  -webkit-filter: grayscale(0) saturate(2);
  filter: grayscale(0) saturate(2);
}

.services {
  background: #202124;
  width: 100%;
}

.servicesTitle {
  width: 200px;
  height: 36px;
  display: inline-block;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #F3A70D;
}

.servicesPriceBox {
  margin-top: 40px;
  width: 100%;
  border: 1px solid rgba(232, 234, 237, 0.5);
}

.servicesPrice {
  margin: 80px auto;
}

.servicesPriceItem {
  width: 60%;
  margin: 0 auto 50px;
  color: #e8eaed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(232, 234, 237, 0.5);
}

.servicesPriceItem .servicesPriceItemLeft, .servicesPriceItem .servicesPriceItemRight {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.servicesPriceItem h3 {
  font-size: 20px;
}

.servicesPriceItem p {
  font-size: 20px;
}

.servicesAddItems {
  width: 100%;
  margin-top: 20px;
}

.servicesAddItems p {
  color: #e8eaed;
  font-size: 12px;
}

.news {
  background: #202124;
  width: 100%;
  padding-bottom: 100px;
}

.newsTitle {
  width: 200px;
  height: 36px;
  display: inline-block;
  margin-top: 160px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #F3A70D;
}

.newsList {
  margin: 40px auto 0;
  width: 60%;
  border: 1px solid rgba(232, 234, 237, 0.5);
  padding: 40px 60px;
}

.newsList ul {
  width: 80%;
}

.newsList li {
  color: #e8eaed;
  line-height: 3.6;
}

.newsList a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsList a .date {
  margin-right: 20px;
}

.newsList .newsBtnBox {
  text-align: center;
  margin-top: 20px;
}

.newsList .newsBtnBox .newsBtn {
  display: inline-block;
  padding: 0.3em 1em;
  font-weight: bold;
  color: #e8eaed;
  border: solid 1px #F3A70D;
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
  padding: 6px 12px;
}

.newsList .newsBtnBox .newsBtn:hover {
  background-color: rgba(232, 234, 237, 0.1);
  font-weight: bold;
}

.booking {
  background: -webkit-gradient(linear, left top, left bottom, from(#202124), color-stop(50%, rgba(32, 33, 36, 0.7)), to(#202124));
  background: linear-gradient(to bottom, #202124, rgba(32, 33, 36, 0.7) 50%, #202124);
  width: 100%;
  padding-bottom: 80px;
}

.bookingTitle {
  width: 200px;
  height: 36px;
  display: inline-block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #F3A70D;
}

.bookingBox {
  width: 100%;
  margin: 40px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) and (max-width: 1079px) {
  .bookingBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

@media screen and (max-width: 767px) {
  .bookingBox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

.bookingBox .bookingBtnBox {
  text-align: center;
  margin-top: 20px;
}

.bookingBox .bookingBtnBox .bookingBtn {
  width: 300px;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  font-size: 20px;
  color: #e8eaed;
  border: solid 2px #F3A70D;
  -webkit-transition: 1s;
  transition: 1s;
}

.bookingBox .bookingBtnBox .bookingBtn:hover {
  background-color: rgba(232, 234, 237, 0.1);
}

.contact {
  background: #202124;
  width: 100%;
  padding-bottom: 80px;
}

.contactTitle {
  width: 200px;
  height: 36px;
  display: inline-block;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #F3A70D;
}

.contactBox {
  margin: 40px auto 0;
  width: 60%;
  border: 1px solid rgba(232, 234, 237, 0.5);
  padding-bottom: 100px;
}

.inputBox {
  width: 80%;
  margin: 40px auto;
  border-bottom: 1px solid rgba(232, 234, 237, 0.5);
}

.inputBox ::-webkit-input-placeholder {
  color: #e8eaed;
}

.inputBox :-ms-input-placeholder {
  color: #e8eaed;
}

.inputBox ::-ms-input-placeholder {
  color: #e8eaed;
}

.inputBox ::placeholder {
  color: #e8eaed;
}

.footer {
  width: 100%;
  height: 200px;
  background-color: #1C1D1F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.copyrightBox {
  height: 100%;
  display: table;
}

.copyrightBox .copyright {
  color: #e8eaed;
  display: table-cell;
  vertical-align: middle;
}

.instaIcon {
  position: absolute;
  top: 45%;
  right: 5%;
}

.instaIcon img {
  width: 16px;
  height: 16px;
}
